<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <title th:text="${course.title + 'افزودن دانشجویان به دوره'}"></title>
</head>
<body>
<div th:replace="BaseTemplate/admin-header.html :: admin-navbar"></div>
<div class="row justify-content-center">
    <div class="col-8 p-4">
        <div class="border border-dark rounded p-4">
            <form id="add-student-form" name="add-student-form" method="post" th:object="${newStudent}" th:action="@{'/course/add-students-to-course/' + ${course.id}}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div class="form-group">
                    <label for="teacher">جستجو دانشجو</label>
                    <select id="teacher" class="form-control custom-select" th:field="*{username}">
                        <option value="">دانشجو</option>
                        <option th:each="studentVal : ${students}" th:value="${studentVal.username}"
                                th:text="${studentVal.username}"></option>
                    </select>
                </div>
                <div class="alert alert-success" role="alert" id="successful-msg" style="display: none">دانشجو به درستی افزوده شد</div>
                <div class="form-row form-group">
                    <input type="submit" class="col btn btn-success" value="افزودن دانشجو">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <table id="tbl-students" class="table">
            <thead>
            <tr>
                <th scope="col">نام کاربری دانشجو</th>
                <th scope="col">نام دانشجو</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">مشاهده اطلاعات کامل دانشجو</th>
                <th scope="col">حذف دانشجو از این دوره</th>
            </tr>
            <tr th:each="std : ${studentsOfCourse}">
                <td th:text="${std.username}"></td>
                <td th:text="${std.firstName}"></td>
                <td th:text="${std.lastName}"></td>
                <td>
                    <a>
                        <button type="button" class="col btn btn-outline-success">مشاهده اطلاعات</button>
                    </a>
                </td>
                <td>
                    <a>
                        <button type="button" class="col btn btn-outline-danger">حذف</button>
                    </a>
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        const $form = $('#add-student-form');
        $form.on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: $form.attr('action'),
                type: 'post',
                data: $form.serialize(),
                success: function (response) {
                    if ($(response).find('.has-error').length) {
                        $form.replaceWith(response);
                    } else {
                        $('#successful-msg').css('display', 'block');
                        $('#tbl-students').load($form.attr('action') + ' #tbl-students');
                    }
                }
            });
        });
    })
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>