<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <meta charset="UTF-8">
    <title>ویرایش سوال تشریحی</title>
</head>
<body>
<div th:replace="BaseTemplate/teacher-header.html :: teacher-navbar"></div>
<div class="row justify-content-center p-4">
    <div class="col-8 p-1">
        <div class="border border-dark rounded shadow-sm p-3">
            <p class="h4 text-center p-1">افزودن سوال جدید</p>
            <form id="add-question-form" name="add-question-form" th:object="${textQuestion}"
                  th:action="@{/teacher/edit-question/{exam-id}/{q-id}/text (exam-id = ${examId} , q-id = ${textQuestion.id})}"
                  method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div class="form-row form-group">
                    <label for="title" class="col-form-label">عنوان سوال : </label>
                    <input class="col form-control" th:field="*{title}" th:attr="value = ${textQuestion.title}"
                           type="text" name="title" id="title"
                           required>
                    <div class="invalid-feedback">لطفا عنوان را پر کنید !</div>
                </div>
                <div class="form-row form-group">
                    <label for="score" class="col-form-label">نمره سوال : </label>
                    <input class="col form-control" th:field="*{score}" th:attr="value = ${textQuestion.score}"
                           type="number" min="0" name="title" id="score"
                           placeholder="نمره سوال">
                </div>
                <div class="form-row form-group">
                    <label for="content" class="col-form-label">صورت سوال : </label>
                    <textarea type="text" id="content" class="col form-control"
                              th:field="*{context}" th:attr="value = ${textQuestion.context}"
                              autocomplete="off"></textarea>
                </div>
                <div class="form-row form-group">
                    <label for="answer" class="col-form-label">پاسخ سوال : </label>
                    <textarea type="text" id="answer" class="col form-control"
                              th:field="*{answer}" th:attr="value = ${textQuestion.answer}"
                              autocomplete="off"></textarea>
                </div>
                <div class="alert alert-success" role="alert" id="successful-msg" style="display: none">سوال به درستی
                    افزوده
                    شد
                </div>
                <div class="form-row form-group">
                    <input type="submit" class="col btn btn-primary" value="ویرایش سوال">
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    $('#content').summernote({
        placeholder: 'متن سوال',
        height: 100
    });
    $('#answer').summernote({
        placeholder: 'پاسخ سوال',
        height: 100
    });
</script>
</body>
</html>