<!doctype html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="container-fluid">
<div class="row position-static">
    <div class="col-12" style="padding: 0">
        <div th:replace="BaseTemplate/public-header.html :: public-navbar"></div>
    </div>
</div>
<div class="row p-4 justify-content-center ">
    <div class="shadow-sm card col-8 p-4">
        <p class="display-4 text-center p-4">ورود</p>
        <form method="post" th:href="@{'/login'}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="form-row form-group">
                <label class="col-form-label col-sm-2 font-weight-bold text-center" for="username">نام کاربری : </label>
                <input class="col-sm-10 form-control" type="text" name="username" id="username">
            </div>
            <div class="form-row form-group">
                <label class="col-form-label col-sm-2 font-weight-bold text-center" for="password">رمز عبور : </label>
                <input class="col-sm-10 form-control" type="password" name="password" id="password">
            </div>
            <div class="form-row form-group justify-content-end">
            <button type="submit" class="col-sm-10 btn btn-lg btn-block btn-success">ورود</button>
            </div>
            <div class="form-row justify-content-end" th:if="${param.error}">
                <div class="col-sm-10 alert alert-danger text-center">نام کاربری یا رمز عبور اشتباه می باشد .</div>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>